<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hunger Apps</title>
  <meta name="description" content="Membantu kamu dalam menemukan restaurant terbaik">
  <meta name="theme-color" content="#DB0000"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Nav bar -->
  <header class="app-bar">
    <a href="#movies" class="skip-link">Menuju ke konten</a>
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Hunger Apps</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home"><strong>Home</strong></a></li>
        <li><a href="#/favorite"><strong>Favorite</strong></a></li>
        <li><a href="https://www.linkedin.com/in/muhammad-rizqy-akbar-1580b8234/"><strong>About US</strong></a></li>
      </ul>
    </nav>
  </header>
  <!-- End Of Nav bar -->

  <!-- Hero Element -->
  <section class="hero" id="home">
    <main class="content">
      <!-- 
        <picture>
        <source media="(max-width: 600px)" srcset="./public/images/heros/hero-image_4.jpg">
        <img src='./public/images/heros/hero-image_4.jpg'
             alt="Restaurant">
        </picture>  
      -->      
      <h1>Hunger Apps</h1>
      <p>Temukan restoran favoritmu hanya diwebsite ini</p>
    </main>
  </section>
  <!-- End Of Hero Element -->

  <!-- Content -->
  <main id="mainContent" tabindex="0"></main>
  <!-- End of content -->

  <!-- Footer -->
  <footer>
    <p>Made with <span>&#10084;</span> by Hunger Apps</p>
  </footer>
  <!-- End Of Footer -->

</body>

</html>